@charset "utf-8";   

#addPicDiv
{
position:absolute;
background-color:rgba(0,0,0,0.6);
top:80px;
left:40px;
width:297px;
height:167px;
}

#fileAdd
{margin-left:20px;
 margin-top:30px;}

#samlpeImageForDisp
{position:absolute;
left:20px;
top:55px;
}

#colRange
{position:absolute;
left:120px;
top:45px;
font-size:10px;
font-weight:bold;
color:white;
}

@media only screen and (min-width: 481px) { 

#addPicDiv
{
position:absolute;
top:80px;
left:20px;
width:297px;
height:167px;
}

#fileAdd
{margin-left:20px;
 margin-top:30px;}

#samlpeImageForDisp
{position:absolute;
left:20px;
top:55px;
}

#colRange
{position:absolute;
left:120px;
top:45px;
font-size:10px;
font-weight:bold;
color:white;
}

}

@media only screen and (min-width: 769px) { 

#addPicDiv
{
position:absolute;
top:80px;
left:210px;
width:423px;
height:238px;
}

#fileAdd
{margin-left:80px;
 margin-top:50px;}

#samlpeImageForDisp
{position:absolute;
left:82px;
top:72px;}

#colRange
{position:absolute;
left:210px;
top:65px;
font-size:10px;
font-weight:bold;
color:white;
}

}