@charset "utf-8";   

*{box-sizing: border-box;}

input {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.rng{padding: 14px 28px; /* Add some padding */
border-radius:40px;}

.rng0 {background-color: #4CAF50;} /* Green */
.rng0:hover {background-color: #46a049;
                box-shadow: 10px 10px 5px #888888;}

.rng1 {background-color: #2196F3;} /* Blue */
.rng1:hover {background: #0b7dda;
             box-shadow: 10px 10px 5px #888888;}
.rng2 {background-color: #2196F3;} /* Blue */
.rng2:hover {background: #0b7dda;
             box-shadow: 10px 10px 5px #888888;}

input[type='text']
{
color:black;
font-family:"Courier New",Courier,monospace;
font-weight:bold;
}


body
{background-color:white;}

canvas
{
border-style:solid;
border-width:1px;
border-color:#d3d3d3;
}

#top
{
margin-left:10px;
height:50px;
background-color:black;
text-align:center;
color:#ffffff;
font-size:20px;
}

#fname
{margin-left:30px;}

#inpIMG,#myCanvas2,#myCanvasImgToAdd
{
position:absolute;
top:80px;
left:40px;
top:80px;
width:297px;
height:167px;
}

#outpIMG,#myCanvas3
{
position:absolute;
top:250px;
left:40px;
width:297px;
height:167px;
}

#Xcap
{
position:absolute;
top:420px;
left:40px;
}
#Ycap
{
position:absolute;
top:440px;
left:40px;
}
#mouseX
{
position:absolute;
top:420px;
left:70px;
width:268px;
}
#mouseY
{
position:absolute;
top:440px;
left:70px;
width:268px;
}
/*ver-slider-val*/
#ip1   
{         
position:absolute;
left:270px;
top:455px;
width:60px;
height:30px;
text-align:center;
border-radius:40px;
}
/*combo-box*/
#ip2   
{         
border:none;
position:absolute;
left:40px;
top:430px;
width:290px;
}
/*vert-slider*/
#ip3   
{           
position:absolute;
left:30px;
top:455px;
width:220px;
}
#mouseMode,#backToNormmode
{display:block;
position:absolute;
left:245px;
top:58px;
width:90px;
background-color: #ff9800;
border:none;
height:30px;
}
#mouseMode:hover,#backToNormmode:hover{background: #e68a00;
                box-shadow: 10px 10px 5px #888888;}

#commit
{
position:absolute;
left:265px;
top:230px;
width:70px;
height:25px;
background-color:#f44336;;
border:none;
border-radius:40px;
}
#commit:hover,#backToNormmode:hover{background: #da190b;
                box-shadow: 10px 10px 5px #888888;}

#addPicture
{display:block;
position:absolute;
left:150px;
top:58px;
height:30px;
width:90px;
background-color: #ff9800;
border:none;
}

#addPicture:hover{background: #e68a00;
                box-shadow: 10px 10px 5px #888888;}


/*horz-slider1*/
#ip4_1   
{           
position:absolute;
left:30px;
top:490px;
width:290px;
}
/*horz-slider2*/
#ip4_2    
{             
position:absolute;
left:30px;
top:520px;
width:290px;
}
/*horz-slider-range */
#holder   
{             
position:absolute;
left:40px;
top:550px;
width:290px;
height:25px;
text-align:center;
color:black;
font-family:"Courier New",Courier,monospace;
font-weight:bold;
border-radius:5px;
}

#bottom
{
position:absolute;
top:590px;
height:50px;
width:345px;
background-color:black;
text-align:right;
color:#ffffff;
font-size:10px;
padding-right:10px;
margin-left:10px;
}

@media only screen and (min-width: 481px) { 
*{box-sizing: border-box;}
    
body
{background-color:white;}

#fname
{margin-left:10px;}

#inpIMG,#myCanvas2,#myCanvasImgToAdd
{
position:absolute;
top:80px;
left:20px;
width:297px;
height:167px;
}

#outpIMG,#myCanvas3
{
position:absolute;
top:250px;
left:20px;
width:297px;
height:167px;
}

#Xcap
{
position:absolute;
top:60px;
left:20px;
}
#Ycap
{
position:absolute;
top:60px;
left:170px;
}
#mouseX
{
position:absolute;
top:60px;
left:40px;
width:120px;
}
#mouseY
{
position:absolute;
top:60px;
left:195px;
width:120px;
}

/*ver-slider-val*/
#ip1   
{         
position:absolute;
left:470px;
top:250px;
height:28px;
}
/*combo-box*/
#ip2   
{         
position:absolute;
left:320px;
top:222px;
width:210px;
}
/*vert-slider*/
#ip3   
{           
position:absolute;
left:310px;
top:250px;
width:150px;
}

#commit
{
position:absolute;
left:245px;
top:58px;
width:70px;
height:25px;
background-color:#f44336;;
border:none;
border-radius:40px;
}
#commit:hover,#backToNormmode:hover{background: #da190b;
                box-shadow: 10px 10px 5px #888888;}

#mouseMode,#backToNormmode
{display:block;
position:absolute;
left:320px;
top:190px;
width:210px;
background-color: #ff9800;
border:none;
}
#mouseMode:hover,#backToNormmode{background: #e68a00;
                box-shadow: 10px 10px 5px #888888;}

#addPicture
{display:block;
position:absolute;
left:320px;
top:158px;
height:30px;
width:210px;
background-color: #ff9800;
border:none;
}

#addPicture:hover{background: #e68a00;
                box-shadow: 10px 10px 5px #888888;}

/*horz-slider1*/
#ip4_1   
{           
position:absolute;
left:310px;
top:280px;
width:210px;
}
/*horz-slider2*/
#ip4_2    
{             
position:absolute;
left:310px;
top:310px;
width:210px;
}
/*horz-slider-range */
#holder   
{             
position:absolute;
left:320px;
top:340px;
width:210px;
text-align:center;
}

#bottom
{
position:absolute;
top:425px;
width:566px;
height:50px;
background-color:black;
text-align:right;
color:#ffffff;
font-size:10px;
padding-right:10px;
}

}

@media only screen and (min-width: 769px) { 
*{box-sizing: border-box;}
    
body
{background-color:white;}

#fname
{position:absolute;
left:200px;
color:black;
}

#addPicture
{display:block;
position:absolute;
left:367px;
top:58px;
height:30px;
width:130px;
background-color: #ff9800;
border:none;
}

#addPicture:hover{background: #e68a00;
                box-shadow: 10px 10px 5px #888888;}

#Xcap
{
position:absolute;
top:60px;
left:210px;
}
#Ycap
{
position:absolute;
top:60px;
left:360px;
}
#mouseX
{
position:absolute;
top:60px;
left:230px;
width:120px;
}
#mouseY
{
position:absolute;
top:60px;
left:385px;
width:120px;
}

#inpIMG,#myCanvas2,#myCanvasImgToAdd
{
position:absolute;
top:80px;
left:200px;
width:423px;
height:238px;
}

#outpIMG,#myCanvas3
{
position:absolute;
top:80px;
left:643px;
width:423px;
height:238px;
}

/*ver-slider-val*/
#ip1   
{         
position:absolute;
left:1010px;
top:330px;
height:28px;
}
/*combo-box*/
#ip2   
{         
position:absolute;
left:650px;
top:60px;
width:350px;
}
/*vert-slider*/
#ip3   
{           
position:absolute;
left:640px;
top:330px;
width:360px;
}

#commit
{
position:absolute;
left:1005px;
top:58px;
width:70px;
height:25px;
background-color:#f44336;;
border:none;
border-radius:40px;
}
#commit:hover,#backToNormmode:hover{background: #da190b;
                box-shadow: 10px 10px 5px #888888;}

#mouseMode,#backToNormmode
{display:block;
position:absolute;
left:500px;
top:58px;
width:130px;
background-color: #ff9800;
border:none;
}
#mouseMode:hover,#backToNormmode:hover{background: #e68a00;
                box-shadow: 10px 10px 5px #888888;}
/*horz-slider1*/
#ip4_1   
{           
position:absolute;
left:640px;
top:360px;
width:420px;
}
/*horz-slider2*/
#ip4_2    
{             
position:absolute;
left:640px;
top:390px;
width:420px;
}
/*horz-slider-range */
#holder   
{             
position:absolute;
left:650px;
top:420px;
width:420px;
}

#bottom
{
position:relative;
top:330px;
height:50px;
width:100%;
background-color:black;
text-align:right;
color:#ffffff;
font-size:10px;
padding-right:10px;
}

}